/* Deshabilitar selección de texto */
.no-select {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none;    /* Firefox */
  -ms-user-select: none;     /* Internet Explorer/Edge */
  user-select: none;         /* Non-prefixed version */
}

/* Deshabilitar clic derecho en imágenes */
img {
  pointer-events: none;
}
