/* styles/CustomCard.module.css */
.card {
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.05); /* Color blanco con opacidad para el efecto de vidrio */
  backdrop-filter: blur(10px); /* Desenfoque del fondo */
  z-index: -1;
  transition: opacity 0.3s ease-in-out;
}

.card:hover::before {
  opacity: 0.5; /* Incrementa la opacidad para el efecto shiny en hover */
}

.card:hover {
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); /* Sombra más grande en hover */
}
