/* Estilos CSS para la animación de floating y fade-in */
.floating-image {
  animation: floating 3s ease-in-out infinite, fadeIn 2s ease-in-out;
}

/* animación flotante de planetas */
@keyframes floating {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-8px);
  }
  100% {
    transform: translateY(0);
  }
}

/* animación fade-in planeta home */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
